body{
    background-repeat: repeat;
    background-size: cover;
    z-index:-1;

}
h2{
    color: white;
    /* text-align: right; */
    margin: 20px;
}
h6{
    font-size: 12px;
    position: absolute;
    text-align: center;
    top: 0px;
}
p{
    font-size: 12px;
    position: absolute;
    /* text-align: center; */
    bottom: 0px;
}
img{
    width: 150px;
    height: 150px;
}
.players{
    cursor: pointer;
}
.card{
    float: left;
    
}